@charset "utf-8";

.openerp .oe_mensa_base {
    color: white;
    background-color: #F0EEEE;
    height: 100%;
}

.openerp td .callign {
    text-align: center !important;
}

.openerp .oe_mensa_base h4 {
    margin: 0;
    font-size: 200%;
}
.openerp .oe_mensa_base input {
    font-size: 1em;
    outline: none;
    border: none;
    padding: 0px 8px;
    padding-top: 8px;
    margin-left: 16px;
    border-radius: 5px;
    background: white;
    box-shadow: 0px -1px 0px #E2E2E2 inset,0px 1px 0px white inset, 0px 4px 0px #DDD inset, 0px 4px 8px rgba(0, 0, 0, 0.55) inset;
    color: #4c4c4c;
    -webkit-animation: all 250ms linear;
}


.oe_mensa_base  #widgetdate_prenot .date {
    background-color:white;
    position:relative;
    vertical-align: top;
    display: inline-block;
    line-height: 100px;
    font-size: 11px;
    margin: 5px;
    width: 120px;
    height:20px;
    border: 1px solid #fff;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 8px rgba(127,130,172,0.4);
       -moz-box-shadow: 0px 1px 8px rgba(127,130,172,0.4);
            box-shadow: 0px 1px 8px rgba(127,130,172,0.4);
}
.oe_mensa_base  #widgetdate_prenot .date:hover{
    background-color: yellow;
}


.oe_mensa_base #widgetdate_prenot .prenot-date {
    color: black;
    display: block;
    font-size: 13px;
    line-height: 11px;
    margin-left: 33px;
    margin-top: 4px;
    position: absolute;
    vertical-align: top;
    z-index: 101;
}

.oe_mensa_base  #widgetprenot .prenot {
    background-color:white;
    position:relative;
    vertical-align: top;
    display: inline-block;
    line-height: 100px;
    font-size: 11px;
    margin: 5px;
    width: 100px;
    height:70px;
    border: 1px solid #fff;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 8px rgba(127,130,172,0.4);
       -moz-box-shadow: 0px 1px 8px rgba(127,130,172,0.4);
            box-shadow: 0px 1px 8px rgba(127,130,172,0.4);
}

.oe_mensa_base #widgetprenot .prenot-nome {
   color: black;
    display: block;
    font-size: 12px;
    line-height: 11px;
    margin-left: 5px;
    margin-top: -42px;
    position: absolute;
    vertical-align: top;
    z-index: 101;

}
.oe_mensa_base #widgetprenot .prenot-ora {
   color: black;
    display: block;
    font-size: 12px;
    line-height: 11px;
    margin-left: 52px;
    margin-top: 12px;
    position: absolute;
    vertical-align: top;
    z-index: 101;

}
.oe_mensa_base #widgetprenot .prenot-img {
	width:50px;
	height:50px;
    margin-top: -5px;
	z-index:100;
}
.oe_mensa_base  #widgetprenot .prenot:hover{
    background-color: orange;
}
